:root {
  --text-accent: #b0907a;
  --text-light: #e1d4c9;
  --text-dark: #403f3d;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: rgba(64, 63, 61, 0.8);
  --dark-border-primary: #c1b6ad;
  --dark-border-inverse: #665f55;
}
html.dark {
  --text-accent: #b0907a;
  --text-light: #e1d4c9;
  --text-dark: #e1d4c9;
  --background-body: #292826;
  --background-container: #403f3d;
  --background-backdrop: rgba(41, 40, 38, 0.8);
  --dark-border-primary: #665f55;
  --dark-border-inverse: #c1b6ad;
}
html,
body {
  height: 100%;
  line-height: 1;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
}
body.overflow-hidden {
  overflow: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
*,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
*,
html,
body {
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--background-body);
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 40px 0px 40px;
}
.main {
  flex: 1 1 auto;
}

@import "title.scss";
@import "header.scss";
@import "first-page/enjoy.scss";
@import "first-page/favorites-coffee.scss";
@import "first-page/about.scss";
@import "first-page/mobile-app.scss";
@import "_footer";
@import "menu-page/menu-block.scss";
@import "menu-page/menu.scss";
@import "menu-page/modal.scss";

@media (max-width: 715.99px) {
  .container {
    padding: 0px 16px 40px 16px;
  }
}
